@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  height: 100%;
  width: 100%;
  background: url(img/fond-violet.jpg) no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 950px) {

  .hcategories {
    flex-direction: column;
  }

  .hcategories > ul {
    flex-direction: column;
  }
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .coté-droit{
   width: 75%;
   margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .coté-gauche{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .coté-gauche::before{
   display: none;
 }
 .container .content .coté-droit{
   width: 100%;
   margin-left: 0;
 }
}
.header{
  height: 210px;
  width: 100%;
  display: flex;
  margin-left: 100px;
}
.hlogo{
  height: 100%;
  width: 15%;
}
img{
  height: 100%;
}
.hpetit{
  height: 25%;
  width: 25%;
  display: flex;
  flex-direction: row;
}
.hmenu{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: right;
    
}
.hcategories {
  height: 100%;
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hcategories > ul {
  display: flex;
  list-style: none;
  padding: 0; 
  margin: 0; 
}

.hcategories li {
  position: relative; 
}

.hcategories li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 6px 20px;
  display: block;
}

.sous-classe {
  position: absolute; 
  top: 100%; 
  left: 0; 
  list-style: none;
  display: none; 
  background-color: transparent; 
  z-index: 10; 
  padding: 10px 0; 
}

.a-sous-classe:hover .sous-classe {
  display: block; 
}

.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .coté-gauche{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .coté-gauche::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .coté-gauche .details{
  margin: 14px;
  text-align: center;
}
.content .coté-gauche .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .coté-gauche .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .coté-gauche .details .texte-un,
.content .coté-gauche .details .texte-deux{
  font-size: 14px;
  color: #afafb6;
}
.container .content .coté-droit{
  width: 75%;
  margin-left: 75px;
}
.content .coté-droit .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.coté-droit .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.coté-droit .input-box input,
.coté-droit .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.coté-droit .message-box{
  min-height: 110px;
}
.coté-droit .input-box textarea{
  padding-top: 6px;
}
.coté-droit .button{
  display: inline-block;
  margin-top: 12px;
}
.coté-droit .button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="submit"]:hover{
  background: #5029bc;
}