@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body,html{
    height: auto;
    width: 100%;
    background: url(img/abstract-gradient-neon-lights.jpg);
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
@media (max-width: 990px){
    .hlogo {
        width: 40%;
        display: flex;
        flex-direction: column;
        
    }
    
    .hcategories {
        flex-direction: column;
    }
    
    .hcategories > ul {
        flex-direction: column;
    }

}
.header{
    height: 210px;
    width: 100%;
    display: flex;
}
.hlogo{
    height: 100%;
    width: 15%;
}
img{
    height: 100%;
}
.hpetit{
    height: 25%;
    width: 25%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.hmenu{
    height: 100%;
    width: 100%;
    background-color: transparent;
    text-align: right;
    
}
.installer{
    padding: 6px;
    margin: 15px;
    background-color: rgb(18, 145, 18);
    border-radius: 6px;
    cursor: pointer;
    
}
.connexion{
    text-decoration: none;
    color: black;
    padding: 36px;

}
.hcategories {
    height: 100%;
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hcategories > ul {
    display: flex;
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.hcategories li {
    position: relative; 
}

.hcategories li a {
    text-decoration: none;
    color: white;
    padding: 6px 20px;
    display: block;
}

.sous-classe {
    position: absolute; 
    top: 100%; 
    left: 0; 
    list-style: none;
    display: none; 
    background-color: transparent; 
    z-index: 10; 
    padding: 10px 0; 
}

.a-sous-classe:hover .sous-classe {
    display: block; 
}
.center {
    height: auto;
    width: 100%;
    text-align: center;
}

.image-clé {
    width: 100%;
    height: 782px;
}
.jeux{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
}
.bo6 {
    width: auto;
    height: 300px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}
.bo6:hover{
    transform: scale(1.1);
}
.fifa{
    width: auto;
    height: 300px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}
.fifa:hover{
    transform: scale(1.1);
}
.gta{
    width: auto;
    height: 300px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}
.gta:hover{
    transform: scale(1.1);
}
.minecraft {
    width: auto;
    height: 300px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}
.minecraft:hover{
    transform: scale(1.1);
}
.footer {
    height: 40px;
    width: 100%;
    text-align: center;
    clear: both;
    margin-top: 20px;
}